* {
    margin: 0px;
    padding: 0px;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    height: 80%;
    width: 100vw;
}
body {
    background-color: #B4A7D6;
    flex-direction: row;
    width: 100vw;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
}
header {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
h1 {
    margin: 2%;
    margin-right: 8%;
    font-size: 80px;
}
.Introduccion {
    margin-right: 9%;
    font-size: 20px;
    position: relative;
    bottom: 20px;
}

.logo {
    border-color: #9900FF;
    border-width: 3px;
    border-style: solid;
    justify-items: center;
    align-items: center;
    margin-left: 3%;
    padding: 0% 1.46% 1% 1.455%;
    background-color: #333333;
    height: 100%;
}
.cajadebajo{
    display: flex;
    width: 237.5px;
    height: 100%;
    margin-left: 3%;
    background-color: #333333;
    border-color: #9900FF;
    border-width: 3px;
    border-style: solid;
}
.debajo{ 
    font-family: cursive;
    color: white;
    font-size: medium;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5%
}
nav {
    display: flex;
    flex-direction: ;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 120px;
    right: 70px;
}
nav ul li {
    color: black;
    background-color: white;
    border-style: double;
    width: fit-content;
    list-style: none;
    font-weight: bolder;
    font-size: 15px;
    border: 1px black solid;
    width: 110px;
    margin: 25px;
    text-align:justify;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    position: relative;
}
footer{
    position: relative;
    margin-right: 5%;
    font-size: medium;
    font-weight: bold;
    height: 10%;
}